{% include 'base.html' %} {% block head_additional %} {% include 'components/vis-resources.html' %} {% include 'components/general-resources.html' %}

<style>
    body {
        background-color: #35495E;
    }
    
    .menu li.active {
        background-color: #35495E;
    }
    
    .visualization-panel h4 {
        color: white;
    }
    
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        border: none;
    }
    
    .dataTable>tbody>tr {
        background-color: #2C3E50 !important;
    }
    
    .dataTables_wrapper,
    .dataTables_info,
    .dataTables_length,
    .dataTables_filter,
    a.paginate_button,
    a#DataTables_Table_0_previous,
    a#DataTables_Table_0_next,
    span.ellipsis {
        color: white !important;
    }
    
    a.paginate_button {
        background-color: lightslategray;
    }
    
    .x-axis-label {
        padding-top: 10px;
    }
    
    .table>tbody+tbody {
        border: none;
    }
    
    .dc-chart text {
        fill: white;
    }
</style>

{% endblock %} {% block content %}
<div class="row flex-container">
    {# sidebar #}
    <div id="dashboard-menu" class="col-md-1 col-sm-2 col-xs-2" style="background-color: #2C3E50; padding:0" align="center">
        <img src="/static/assets/img/book-shelf.png" width="80%" align="center" style="padding-left: 10px; padding-top: 10px">

        <ul class="menu">
            <li class="active"><span class="fa fa-bar-chart"></span></li>
            <a alt="View the data dashboard" href="/dashboard/data/">
                <li><span class="fa fa-database"></span></li>
            </a>
        </ul>

    </div>

    {# main content #}
    <div id="dashboard-content" class="col-md-11">

        <div class="row col-md-12" style="padding-top: 1em; padding-bottom: 1em">

            <div class="col-md-12">
                <h2 class="color-white uppercase bold-text">DIGITAL BOOKSHELF <a class="pull-right mui-btn mui-btn-default" target="_new" href="/api/data?type=books">View RAW Data</a> </h2>
            </div>

            <div class="col-md-12">
                <div class="dc-data-count pull-left">
                    <p class="color-white"><span class="filter-count"></span> selected out of <span class="total-count"></span> records</p>
                </div>
                <a href="javascript:location.reload();" class="pull-right">
                    <button type="button" class="btn btn-info">Reset</button></a>
            </div>
        </div>

        <div class="row visualization-container">
            <div class="visualization-panel col-md-12 col-sm-12 col-xs-12" style="height: 400px;">
                <div class="col-md-6 col-sm-5 col-xs-5">
                    <h3 class="color-white" style="text-align: center;">Book Ratings</h3>
                    <div id="ratings-area-chart" class="center-align"></div>
                </div>
                <div class="col-md-6 col-sm-5 col-xs-5 pull-right">
                    <h3 class="color-white" style="text-align: center;">Year Published</h3>
                    <div id="year-area-chart"></div>
                </div>
            </div>
        </div>

        <div class="row visualization-container">
            <div class="visualization-panel col-md-12 col-sm-12 col-xs-12" style="height: 780px;">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <h3 class="color-white" style="text-align: center;">Locations</h3>
                        <div id="chart-sunburst-library" class="center-align"></div>
                    </div>
                    <div class="col-md-4 col-sm-8 col-xs-8">
                        <div class="row">
                            <div class="col-md-12 col-sm-4 col-xs-4">
                                <h3 class="color-white" style="text-align: center;">Categories</h3>
                                <div id="chart-row-category" class="center-align"></div>
                            </div>

                            <div class="col-md-12 col-sm-4 col-xs-4" style="margin-top: 20px;">
                                <h3 class="color-white" style="text-align: center;">Published Languages</h3>
                                <div id="chart-ring-language" class="center-align"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="search"></div>

        <div class="row visualization-container">
            <div class="visualization-panel col-md-12 col-sm-12 col-xs-12" style="height: 640px;">
                <table class="table table-hover dc-data-table">
                </table>
            </div>
        </div>



    </div>
    {% endblock %} {% block end_additional %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js" type="text/javascript"></script>
    <script src="/static/assets/js/dashboard-lib.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            dashboard.render_general_metrics("/api/data?type=books");
        });
    </script>

    {% endblock %}